<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<title>Speed Test results</title>
	</head>
	<body>
		<div class="ui container" style="width:100%">

			<!-- Error Template -->
			<script id="error-template" type="text/x-handlebars-template">
				<div class="ui {{color}} inverted segment" style="height:250px;">
					<br>
					<h2 class="ui center aligned icon header">
						<i class="exclamation triangle icon"></i>
						<div class="content">
							{{title}}
							<div class="sub header">{{message}}</div>
						</div>
					</h2>
				</div>
			</script>

			<script id="data-template" type="text/x-handlebars-template">
				<div class="ui basic loading segment">
					<div class="chart-container" style="position: relative; height:50vh; width:99vw">
						<canvas id="myChart"></canvas>
					</div>
				</div>
			</script>

			<!-- Page content -->
			<div id="app"></div>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/vanilla-router@1.2.7/index.js"></script>
			<!--script src="https://cdn.jsdelivr.net/npm/vanilla-router@1.2.7/index.min.js"></script-->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
			<script>
				const el = $('#app');
				const errorTemplate = Handlebars.compile($('#error-template').html());
				const dataTemplate = Handlebars.compile($('#data-template').html());

				// Display Error Banner
				const showError = (error) => {
					//const { title, message } = error.response.data;
					const title = 'error';
					const message = error;
					const html = errorTemplate({ color: 'red', title, message });
					el.html(html);
				};


				// Instantiate api handler
				const api = axios.create({
					baseURL: 'http://localhost:8080/',
					timeout: 15000,
				});

				const router = new Router({
					mode: 'hash',
					page404: (path) => {
						const html = errorTemplate({
							color: 'yellow',
							title: 'Error 404 - Page NOT Found!',
							message: `The path '/${path}' does not exist on this site`,
						});
						el.html(html);
					},
				});

				router.add('', async () => {
					console.log('Home page');

					// Display loader first
					let html = dataTemplate();
					el.html(html);
					try {
						// Load Symbols
						const response = await api.get('/');
						const symbols = response.data;
						html = dataTemplate({ symbols });
						el.html(html);
						$('.loading').removeClass('loading');

						var dates = [];
						var downs = [];
						var ups = [];

						_.map(symbols, (s) => {
							dates.push(Math.round(s.date));
							downs.push({
								x: s.date,
								y: Number(s.data.download / 1000**2).toFixed(2),
							});
							ups.push({
								x: s.date,
								y: Number(s.data.upload / 1000**2).toFixed(2),
							});
						});

						var chartData = {
							//labels: dates,
							datasets: [{
								label: 'down',
								fill: false,
								data: downs,
								yAxisID: 'y-axis-1',
								borderColor: window.chartColors.green,
								backgroundColor: window.chartColors.green,
							}, {
								label: 'up',
								fill: false,
								data: ups,
								yAxisID: 'y-axis-2',
								borderColor: window.chartColors.orange,
								backgroundColor: window.chartColors.orange,
							}]
						};

						var ctx = document.getElementById('myChart').getContext('2d');
						window.myLine = Chart.Line(ctx, {
							data: chartData,
							options: {
								spanGaps: false,
								responsive: true,
								hoverMode: 'index',
								stacked: false,
								title: {
									display: true,
									text: 'Speed Test results'
								},
								tooltips: {
									mode: 'index',
									intersect: false,
									callbacks: {
										// Use the footer callback to display the sum of the items showing in the tooltip
										footer: function(tooltipItems, data) {
											return 'Server: ' + JSON.stringify(
												_.pick(symbols[tooltipItems[0].index].data.server, [
													'latency',
													'name',
													'url',
													'lat',
													'lon',
													'sponsor',
													'id',
												]), null, 2);
										},
									},

								},
								scales: {
									xAxes: [{
										type: 'time',
										time: {
											parser: function(x) { var d = new Date(); d.setTime(x * 1000); return d; },
											//parser: 'X',
											// round: 'day'
											tooltipFormat: 'll HH:mm'
										},
										scaleLabel: {
											display: true,
											labelString: 'Date'
										}
									}],

									yAxes: [{
										type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
										display: true,
										position: 'left',
										id: 'y-axis-1',
										ticks: {
											callback: function(value, index, values) {
													return value + 'Mbs';
											}
										},
										scaleLabel: {
											display: true,
											labelString: 'Download'
										}

									}, {
										type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
										display: true,
										position: 'right',
										id: 'y-axis-2',
										ticks: {
											callback: function(value, index, values) {
													return value + 'Mbs';
											}
										},
										scaleLabel: {
											display: true,
											labelString: 'Upload'
										},

										// grid line settings
										gridLines: {
											drawOnChartArea: false, // only want the grid lines for one axis to show up
										},
									}],
								}
							}
						});

					} catch (error) {
						showError(error);
					}
				});


				// manage links
				$('a').on('click', (event) => {
					// Block page load
					event.preventDefault();

					// Highlight Active Menu on Click
					const target = $(event.target);
					$('.item').removeClass('active');
					target.addClass('active');

					// Navigate to clicked url
					const href = target.attr('href');
					const path = href.substr(href.lastIndexOf('/'));

					if (router._currentPage && router._currentPage.uri == router._trimSlashes(path)) {
						router.check();
					}
					else router.navigateTo(path);
				});


				router.addUriListener();
				router.navigateTo('/');
				router.check();

				window.chartColors = {
					red: 'rgb(255, 99, 132)',
					orange: 'rgb(255, 159, 64)',
					yellow: 'rgb(255, 205, 86)',
					green: 'rgb(75, 192, 192)',
					blue: 'rgb(54, 162, 235)',
					purple: 'rgb(153, 102, 255)',
					grey: 'rgb(201, 203, 207)'
				};

			</script>
		</div>
	</body>
</html>
